.chooseSpecialtyPage {
    position: relative;
    top: 80px;
    padding-left: 20px;
}

.chooseSpecialtyPage__title {
    font-family: "Proxima Nova Semibold", "Open Sans", sans-serif;
    font-size: 40px;
    color: #05336B;
    line-height: 63px;
    letter-spacing: 1px;
}

.chooseSpecialtyPage__link {
    text-decoration: none;
}

.chooseSpecialtyPage__buttons {
    display: flex;
    width: fit-content;
    padding-top: 48px;
}

.chooseSpecialtyPage__bt {
    width: 218px;
    height: 57px;
    line-height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 52px;
    margin-right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
    background: linear-gradient(-75deg, #FEA82D, #FB4173);
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.chooseSpecialtyPage__bt:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
    background: linear-gradient(-120deg, #FEA82D, #FB4173);
}


/* Responsive media queries
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .chooseSpecialtyPage {
        top: 480px;
    }
    .chooseSpecialtyPage__title {
        line-height: 70px;
    }
}

/* Small devices (tablets, 320px and up) */
@media (max-width: 320px) {
    .chooseSpecialtyPage {
        padding-left: 0;
        top: 50px;
    }
    .chooseSpecialtyPage__buttons {
        display: block;
    }
    .chooseSpecialtyPage__bt {
        margin-right: 0;
        margin-bottom: 20px;
        width: 288px;
        height: 54px;
    }
}
